# 文件修改时候注意事项
- 如果涉及到大的功能/组件的调整，优先创建新的文件，减少修改大文件的机会，方便多人合作时候代码合并，降低影响；
- 每次文件调整后，请在`changelog.md`中记录，方便后续理解和修改；
- 如果调整内容较多，涉及到架构调整，请适当更新`DeepSOC架构文档.md`文件；
- 如果调整了.env文件，请在`sample.env`文件中同步更新，方便用户首次使用时候可以直接参考；

# 前端开发要求

- 涉及到前端样式调整时候，尽可能使用分散的css文件，这样可以避免多人开发时候的样式文件冲突；
- 元素新增/修改，应尽可能保持和原有的元素样式风格一致；

# 测试方法、工具和要求
- 所有测试方法和工具，请在`test`目录下创建，；
- 临时创建的工具，请放到`tools`目录下;
- 在测试工具中，增加功能描述和测试程序执行的方法；