/* Orbitron字体 */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url('/static/fonts/orbitron-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  src: local('Orbitron Medium'), local('Orbitron-Medium'), url('/static/fonts/orbitron-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local('Orbitron Bold'), local('Orbitron-Bold'), url('/static/fonts/orbitron-bold.woff2') format('woff2');
} 